<!-- Power By LiuACG - Sidebar -->
<ul class="nav nav-pills nav-stacked custom-nav">
    <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
    
    <li class="menu-list">
        <a href=""><i class="fa fa-users"></i> <span>Users</span></a>
        <ul class="sub-menu-list">
            <li><a href="@Url.Action("Index", "Users")"> User List</a></li>
            <li><a href="@Url.Action("Create", "Users")"> Add User</a></li>
        </ul>
    </li>
    
    <li class="menu-list">
        <a href=""><i class="fa fa-user-secret"></i> <span>Roles</span></a>
        <ul class="sub-menu-list">
            <li><a href="@Url.Action("Index", "Roles")"> Roles List</a></li>
            <li><a href="@Url.Action("Create", "Roles")"> Create Roles</a></li>
        </ul>
    </li>

    <li class="menu-list">
        <a href=""><i class="fa fa-cutlery"></i> <span>Canteens</span></a>
        <ul class="sub-menu-list">
            <li><a href="@Url.Action("Index", "Canteens")"> Canteen List</a></li>
            <li><a href="@Url.Action("Create", "Canteens")"> Create Canteen</a></li>
            <li><a href="#"> Enter Register</a></li>
        </ul>
    </li>
    
    <li class="menu-list">
        <a href=""><i class="fa fa-book"></i> <span>Category</span></a>
        <ul class="sub-menu-list">
            <li><a href="@Url.Action("Index", "CanteenCategories")"> Canteen Category</a></li>
            <li><a href="@Url.Action("Index", "FoodCategories")"> Food Category</a></li>
            <li><a href="@Url.Action("Index", "PeopleCategories")"> People Category</a></li>
        </ul>
    </li>
    
    <li>
        <a href="@Url.Action("Index", "Payments")"><i class="fa fa-money"></i> <span>Payment</span></a>
    </li>

    <li><a href="#"><i class="fa fa-rmb"></i> <span>Red Packet</span></a></li>

    <li><a href="#"><i class="fa fa-wrench"></i> <span>System</span></a></li>
</ul>
