<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <title>Where To Eat | @ViewBag.title</title>
    @Styles.Render("~/Content/css/user")
</head>

<body>
    @{
        Html.RenderPartial("navbar");
    }

    @RenderBody()

    <hr />
    <br />
    <footer>
        <div class="text-center">
            &copy; 2016 A ZSC Team
        </div>
    </footer>
    <br />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/nicescroll")
    @Scripts.Render("~/Scripts/mto.js")
    @RenderSection("scripts", false)
</body>
</html>
