@using MealTimeOnline.ViewModels.Order
@using MealTimeOnline.Models.Dealer
@using MealTimeOnline.Models.Commodity
@model CanteenViewModel

@{ViewBag.Title = "Canteen";}

<div class="container clearfix">

    <div class="navbar-left navbar-form">
        <span>Current location：</span>
        <span>
            <a href="#">2333</a>
        </span>
    </div>

    <div class="navbar-right navbar-form">
        <div class="input-group">
            <input class="search-input form-control" placeholder="Search foods" />
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
    </div>

    <div class="container-fluid">
        <div class="wrapper">
            <img src="@Url.Action("Placeholder", "Image", new { width = 1110, height = 100, text = "广告位长期招收" })" />
        </div>
    </div>

    <div class="container-fluid">
        <div class="Business-sorts">
            <span>食堂分类：</span>
            <ul>
                <li><a class="current" href="#" onclick="showSelected(); showTab('rstbox', 0)">全部餐厅</a></li>
                @for (int i = 0; i < Model.canteen.Count; ++i)
                {
                    <li><a href="#" onclick="showSelected(); showTab('rstbox', @(i + 1))" @Model.canteen[i].CanteenId>@Model.canteen[i].CanteenName</a></li>
                }
                <!--<li><a href="#" onclick="showSelected(); showTab('rstbox', 2)" @@Model.canteen[1].CanteenId>@@Model.canteen[1].CanteenName</a></li>-->
            </ul>
        </div>

        <div class="row">
            <!--.col-xs-12.col-sm-6.col-md-4.col-lg-3.food-item[data-canteen=$$]{Item $$}-->
            <!--.col-xs-12.col-sm-6.col-md-4.col-lg-3*20>.food-item[data-canteen=$$]>(img[src="http://placeholder.cn/80x80",alt=Food_$$]+{Item $$})-->
            <div class="rstbox rstbox-current">
                @for (int j = 0; j < Model.canteen.Count; j++)
                {
                    for (int k = 0; k < Model.canteen[j].Foods.Count; k++)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="food-box">
                                <img src="http://placeholder.cn/80x80" alt="food_01">
                                <div class="food-info">
                                    <a href="#" class="food-name">@Model.canteen[j].Foods[k].FoodName</a>
                                    <span class="food-star">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </span>
                                    <span class="food-sale">月售xxxx单</span>
                                    <span class="food-cost"><i class="fa fa-rmb"></i> @Model.canteen[j].Foods[k].Price</span>
                                    <div class="food-cnt" data-food="@Model.canteen[j].Foods[k].FoodId" data-food-cnt="0" data-food-price="@Model.canteen[j].Foods[k].Price" data-food-name="@Model.canteen[j].Foods[k].FoodName">
                                        <div class="food-add-cart"><span>加入购物车</span></div>
                                        <div class="food-cart-cnt" hidden>
                                            <span class="pull-left">－</span>
                                            <input class="food-cart-num" title="" disabled value="1" />
                                            <span class="pull-right">＋</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @for (int j = 0; j < Model.canteen.Count; j++)
            {
                <div class="rstbox">
                    @for (int k = 0; k < Model.canteen[j].Foods.Count; k++)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="food-box">
                                <img src="http://placeholder.cn/80x80" alt="food_01">
                                <div class="food-info">
                                    <a href="#" class="food-name">@Model.canteen[j].Foods[k].FoodName</a>
                                    <span class="food-star">
                                        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
                                    </span>
                                    <span class="food-sale">月售xxxx单</span>
                                    <span class="food-cost"><i class="fa fa-rmb"></i> @Model.canteen[j].Foods[k].Price</span>
                                    <div class="food-cnt" data-food="@Model.canteen[j].Foods[k].FoodId" data-food-cnt="0" data-food-price="@Model.canteen[j].Foods[k].Price" data-food-name="@Model.canteen[j].Foods[k].FoodName">
                                        <div class="food-add-cart" onclick="showCart(this)"><span>加入购物车</span></div>
                                        <div class="food-cart-cnt" hidden>
                                            <span class="pull-left">－</span>
                                            <input class="food-cart-num" title="" disabled value="1" />
                                            <span class="pull-right">＋</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

            <!--.col-xs-12.col-sm-6.col-md-4.col-lg-3*20>.canteen-box[data-canteen=$$]>(img[src="http://placeholder.cn/80x80",alt=Canteen_$$]+(.canteen-info>(a.canteen-name[href=#]{Canteen $$})+(span.canteen-star>(i.fa.fa-star*4+i.fa.fa-star-o))+span.canteen-sale{月售xxxx单}+span.canteen-cost>({配送费}+i.fa.fa-rmb+{1})))-->
        </div>
    </div>
</div>

@*use js to control it*@

<div class="cart">
    <div id="cart-basket" class="cart-basket" style="top:-40px">
        <div class="cart-clear">
            Cart
            <a href="#" onclick="cartclear('footercheck')">[clear up]</a>
        </div>
        <div id="basic"></div>
    </div>
    <div class="cart-footer">
        <span><i class="fa fa-shopping-cart fa-2x" style="color:#fff;padding:10px"></i> <i class="fa fa-rmb fa-lg text-warning"></i></span>
        <span id="showprices" class="text-warning"></span>
        <form action="/Order/Checkout" method="post">
            <button type="submit" id="footercheck" class="cart-footer-check"><i class="fa fa-check"></i></button>
        </form>
    </div>
</div>

<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/npm.js"></script>