@model MealTimeOnline.ViewModels.Auth.SignUpViewModel

@{ViewBag.Title = "Modifypassword";}

<div class="container clearfix">
    @{Html.RenderPartial("_accountLayout"); }

    <div class="right-side left">
        <div class="global-panel-big-title">Modify password</div>

        <div class="content">

            <label><h5 style="font-weight:bold"><span style="color:red">*</span>Note:Use at least one letter, one numeral, and seven characters.</h5></label>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken();

                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Current password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "New password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm new password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-4">
                            <input type="submit" value="Submit" class="btn btn-success btn-block" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
